[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sawtooth-sdk = "<1.2"
cbor = "*"
requests = "*"
pynacl = "*"
cbor2 = "*"

[dev-packages]

[requires]
python_version = "3.7"
