[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sawtooth-sdk = "<1.2"
flask = "*"
requests = "*"
pynacl = "*"
cbor = "*"

[dev-packages]

[requires]
# TODO Require a specific python version when base image updated.
# python_version = "3.7"
